
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos de rolagem personalizados */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Estilos de impressão */
@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body, #root, main {
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    max-width: none !important;
    overflow: visible !important;
    box-shadow: none !important;
  }
}
